body{
    margin: 0;
}
h1{
    font-family: 'Redressed', cursive;
    font-size: 50px;
}
.orange-highlight{
    color: rgb(238, 14, 81);
}
p{
    text-align:justify;
    padding-bottom: 10px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 5%;
}
.half-width img{
    width: 60%;
    padding-left: 60px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
   
}
section{
    height: 400px;
    padding-bottom: 250px;
   
}

.btn{
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 50px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    text-decoration: none;
    font-family: 'Redressed', cursive;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
.btn:hover{
    background-color: orangered;
    padding-right: 40px;
    transition: 0.5s;
}


.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.exprience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 200px;
}
.single-exp{
    font-weight: bold;
    box-shadow: 10px 10px 30px gainsboro;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    /* border-bottom: 1px solid rgb(123, 133, 163); */
   
    
}

#full-stack{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(31, 196, 133),tomato);
    border-image-slice: 1 ;
}

#baby-web{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(146, 122, 255),rgb(219, 53, 23));
    border-image-slice: 1 ;
}


footer{
    text-align: center;
}